.reveal h1 { font-size: 1.5em; }
.reveal h2 { font-size: 1em; }
.reveal section img {
    border: 0px;
    box-shadow: none;
}
.slide-header {
    position: absolute;
    top:  -30px;
    left: -20px;
    /* color: red; */
}
/* table bar */
span.bar-css {text-decoration:overline;}
/* add highlighting to row */
#table-full tr#TBL-1-4-, #table-full tr#TBL-1-7- {
    font-weight: bold;
}

.reveal .slides section .fragment.highlight-green.visible {
    font-weight: bold;
    color: #67abd8 !important;
}